.App {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  background-color: #fefae0;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

.Results {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.SearchContainer {
  padding-bottom: 25px;
}

.searchbar {
  width: 60%;
  padding: 0.5rem;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 25px;
}

.searchbar:focus {
  border-radius: 0;
}
